

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}


#mynavbar{
  display: flex;
  width: 100%;
  justify-content: space-between;

}
.nav-item{
  display: flex;

}
.rounded-circle{
  height: 56px;
  width: 56px;
  border: #fff solid 1px;
}
.dropdown-menu{
  width: 300px;
  margin-left: -100px;
}
.jj{
  margin: auto;
  width:100%;
  height: 400px;
  padding: 5px;
  justify-content: center;
background-color: black;
border-radius: 0%;
}
.jj img{
  margin: auto;
  width:90%;
  height: 398px;
  border-radius: 0 0 5px 5px;
  border: solid 1px ;
}
.card-img-overlay img{
  width: 30%;
  margin: 80px 10% 0 30%;
 
}
